.linkContainer {
  padding: 5px;
  border-radius: 5px;
  transition: all 0.2s ease;
  /* width: 130px; */
  /* height: 40px; */
}

.link {
  text-decoration: none;
  /* color: black; */
}

.active {
  border: 1px solid #15803d;
  border-radius: 30px;
  color: white !important;
  box-shadow: 0 4px 8px rgba(116, 223, 155, 0.4);
  background-color: black;
}
