@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: white;
  --bgSoft: rgb(204 251 241);
  --text: black;
  --textSoft: black;
  --btn: #3673fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 80%;
  margin: auto;
}

/* @media (max-width: 1536px) {
    .content {
      width: 1366px;
    }
  }
  
  @media (max-width: 1366px) {
    .content {
      width: 1280px;
    }
  }
  
  @media (max-width: 1280px) {
    .content {
      width: 1024px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  @media (max-width: 1024px) {
    .content {
      width: 768px;
    }
  }
  
  @media (max-width: 768px) {
    .content {
      width: 640px;
    }
  }
  
  @media (max-width: 640px) {
    .content {
      width: 475px;
    }
  }
  @media (max-width: 475px) {
    .content {
      width: 380px;
    }
  } */
.left-40 {
  top: 9%;
  left: 21%;
}
.top-10 {
  top: 43%;
  left: 45%;
}

.imagebg {
  height: 800px;
}
.image {
  width: 100%;
  height: 170px;
}
.swiper-wrapper {
  padding-bottom: 50px;
}
.imglogo {
  width: 45px;
  height: auto;
}
.background {
  background: linear-gradient(
    180deg,
    rgb(248 250 252) 0%,
    rgba(244, 246, 250, 0) 83.85%
  );
}

.bgcolor {
  background-color: #344c7d;
}
.h-full {
  height: 533px;
}
@media (max-width:1080px) {
  
  .navbar{
    width: 70%;
  }
  
}
@media (max-width:992px) {
 
  .dropdown{
    display: block;
  }
  .navbar{
    display: none;
    
  
  }
  .header{
    width: 50%;
  }
  .container{
    width: 95%;
  }
  .grid-cols-4{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

}
.right-1{
  right: 3%
  ;
}

@media(max-width:450px) {
  .grid-cols-4{
    grid-template-columns: repeat(1, minmax(0, 1fr))!important; 
  }
  .container{
    width: 70%;
  }
  .grid-cols-3{
    grid-template-columns: repeat(1, minmax(0, 1fr))!important; 
  }
  .max-md\:col-span-2{
    grid-column: span 1/ span 1 !important; 
  }
  .max-md\:w-2\/4{
    width: 100% !important;

  }
  .grid-cols-2{
    grid-template-columns: repeat(1, minmax(0, 1fr))!important; 
  }
  
}
@media (max-width:500px) {

  .sidebar{
    max-width: 250px;
  }
}
@media (max-width:425px) {
  .sidebar{
    max-width: 200px;
  }

  
}
.flex-grow{
  width: 100%;
}
.overlay{
  background-color: rgba(0, 0, 0, 0.5);
}
.animation{
  transform: rotate(90deg);
}
